/*  CSS Document  */

@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Noto+Serif');

body {
	margin: 0; padding: 0; background-color: #e9f5f2;
	font-family: 'Noto Serif', serif; font-size: 16px;
	line-height: 1.2em; color: #0b4146;
}

h2 { font-size: 1.4em; margin: 0 0 .5em 0; clear: left; }

h3 { font-size: 1.1em; margin: 0 0 .1em 0; }

p { margin: 0 0 1em 0; }

a { color: #dc3535; }

header {
	margin: 0; background: #4b8e9c url(banner.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 55px; padding: 1px 0;
}

header h1 {
	font-family: 'Gravitas One', cursive;
	font-size: 2.8em; line-height: 40px; color: #fff;
	font-weight: 400; padding: 5px 20px 10px 50px;
}

article { margin: 25px; }

figure {
	text-align: center;
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding: 20px 0px;
	width: 65%;
	margin: 20px auto;
	color: #754b08;
}

figure canvas {
	width: 100%;
	margin: 0 0 15px 0;
}

figcaption {
	font-size: .8em;
	line-height: 1.2em;
}



